$poppins: 'Poppins', Arial, Helvetica, sans-serif;
$workSans:'Work Sans', sans-serif;
$inter:'Inter', sans-serif;
.poppins {
    font-family: $poppins;
}
.work-sans {
    font-family: $workSans;
}
.inter {
    font-family: $inter;
}

$lobster: 'Lobster', cursive;
.lobster {
    font-family: $lobster
}